.main-container{
    background-color: #F5F6FA;
}

.hero-area{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.nav-logo{
    width: 90px;
    padding: 5px;
    border-radius: 15px;
}
.text{
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 2px;
}

.text:hover{
    background-color: ivory;
    border-radius: 10px;
}

.social-icon{
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.social-icon:hover{
    color: black;
    border-radius: 15px;
}


.logo{
    width: 100px;
}

.profile-img{
    width: 50px;
    border-radius: 50%;
}

.book-img{
    width: 50%;
}

.book-card{
    background-color: #B8E8FC;
    border-radius: 25px;
    width: 45%;
    box-shadow: 0 0 15px -5px;
    transition: 0.5s;
    animation: ease-in-out;
}
.book-card:hover{
    transform: scale(1.009);
    box-shadow: 0 0 15px 0;
}

.right-nav a{
    text-decoration: none;
    font-size: 20px;
}