.nav-logo{
    width: 90px;
    padding: 5px;
    border-radius: 15px;
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
}
.text{
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.main-container{
    background-color: #F5F6FA;
}

.logo img{
    width: 20%;
    border-radius: 10px;
}

.profile-img{
    width: 50px;
    border-radius: 50%;
}

.right-nav a{
    text-decoration: none;
    font-size: 20px;
}

.footer-text{
    width:auto;
}